/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * https://zmk.dev/docs/codes
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
/*
https://zmk.dev/docs/behaviors/mouse-emulation
*/
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        /*
        https://zmk.dev/docs/behaviors/macros
 
        Type unicode characters using macros until https://github.com/zmkfirmware/zmk/issues/232 is merged.
        See:
        * https://icyphox.sh/blog/zmk-unicode/
        * https://zmk.dev/docs/behaviors/macros#unicode-sequences
        */

        em_dash: em_dash {
            label = "UC_EM_DASH";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp N2 &kp N0 &kp N1 &kp N4 &kp SPC>
                ;
        };

        degree: degree {
            label = "UC_DEGREE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp N0 &kp N0 &kp B &kp N0 &kp SPC>
                ;
        };

        cpright: cpright {
            label = "UC_COPYRIGHT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp N0 &kp N0 &kp A &kp N9 &kp SPC>
                ;
        };

        regtm: regtm {
            label = "UC_REGISTERED_TRADEMARK";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp N0 &kp N0 &kp A &kp E &kp SPC>
                ;
        }; 

        tm: tm {
            label = "UC_TRADEMARK";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp N2 &kp N1 &kp N2 &kp N2 &kp SPC>
                ;
        };

        inv_q: inv_q {
            label = "UC_INVERTED_Q";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp N0 &kp N0 &kp B &kp F &kp SPC>
                ;
        };
    };

    behaviors {
        /*
        https://zmk.dev/docs/behaviors/mod-morph
        */

        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        /*
        https://zmk.dev/docs/keymaps/behaviors/tap-dance
        */
        td0: momentary_layer_raise_and_mouse {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 2>, <&mo 3>;
        };
    };

    combos {
        /*
        https://zmk.dev/docs/features/combos

        -------------------------------------------------------------------------
        |  0 |  1 |  2 |  3 |  4 |  5 |           |  6 |  7 |  8 |  9 | 10 | 11 |
        | 12 | 13 | 14 | 15 | 16 | 17 |           | 18 | 19 | 20 | 21 | 22 | 23 |
        | 24 | 25 | 26 | 27 | 28 | 29 |           | 30 | 31 | 32 | 33 | 34 | 35 |
        | 36 | 37 | 38 | 39 | 40 | 41 | 42 | | 43 | 44 | 45 | 46 | 47 | 48 | 49 |
                       | 49 | 50 | 51 | 52 | | 53 | 54 | 55 | 56 | 57 |
        */

        compatible = "zmk,combos";

        combo_capsword {
                timeout-ms = <50>;
                key-positions = <36 49>;
                bindings = <&caps_word>;
                layers = <0>;
            };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

        /*
                ------------------------------------------------------------------------------------------------------------------------------------
                |    `    |   1   |  2   |    3    |    4    |   5   |                    |    6   |   7   |    8     |    9   |   0    |     -    |
                |   TAB   |   Q   |  W   |    E    |    R    |   T   |                    |    Y   |   U   |    I     |    O   |   P    |     =    |
                |   CTRL  |   A   |  S   |    D    |    F    |   G   |                    |    H   |   J   |    K     |    L   |   ;    |     '    |
                |  SHIFT  |   Z   |  X   |    C    |    V    |   B   |   TODO  | | ENTER  |    N   |   M   |    ,     |    .   |   /    |   SHIFT  |
                                         |   ALT   |   TODO  | LOWER |  SPACE  | |  TD0   |   MOD  |  COMP | BSPC_DEL |
        */

            display-name = "Base";
            bindings = <
                &kp GRAVE  &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                       &kp N6    &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS
                &kp TAB    &kp Q   &kp W   &kp E     &kp R     &kp T                        &kp Y     &kp U   &kp I      &kp O    &kp P     &kp EQUAL
                &kp LCTRL  &kp A   &kp S   &kp D     &kp F     &kp G                        &kp H     &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
                &kp LSHFT  &kp Z   &kp X   &kp C     &kp V     &kp B   &trans     &kp RET   &kp N     &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                           &kp LALT  &trans    &mo 1   &kp SPACE  &td0      &kp LGUI  &trans  &bspc_del
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {

            /*
                ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                |         |                     |                     |             |                 |            |                |   [   |    7    |    8   |    9    |     0    |    -   |
                |   MUTE  |        VOL_DN       |        VOL_UP       |     PREV    |    PLAY/PAUSE   |    NEXT    |                |   ]   |    4    |    5   |    6    |   PSCRN  |        |
                |         |        BRI_DN       |        BRI_UP       |             |       ESC       |            |                |   {   |    1    |    2   |    3    |     |    |        |
                |         |                     |                     |     UNDO    |       REDO      |            |       | |      |   {   |    0    |    <   |    >    |     \    |        |
                                                                      |             |                 |            |       | |      |  L4   |         |        |
            */

            display-name = "Lower";
            bindings = <
                &trans      &trans                &trans                &trans        &trans            &trans                        &kp LBKT  &kp N7  &kp N8  &kp N9  &kp N0     &kp MINUS
                &kp K_MUTE  &kp K_VOLUME_DOWN     &kp K_VOLUME_UP       &kp K_PREV    &kp K_PLAY_PAUSE  &kp K_NEXT                    &kp RBKT  &kp N4  &kp N5  &kp N6  &kp PSCRN  &trans
                &trans      &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans        &kp ESC           &trans                        &kp LBRC  &kp N1  &kp N2  &kp N3  &kp PIPE   &trans
                &trans      &trans                &trans                &kp LC(Z)     &kp LC(LS(Z))     &trans      &trans    &trans  &kp RBRC  &kp N0  &kp LT  &kp GT  &kp BSLH   &trans
                                                                        &trans        &trans            &trans      &trans    &trans  &mo 4     &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {

            /*
                Holding LCtrl with LC(LS(TAB)) and LC(TAB) in VSCode keeps the tab switcher open.
                Reminder that we can also hold LCtrl with PAGE_UP and PAGE_DOWN to switch tabs.

                -----------------------------------------------------------------------------------------------------------------------------------------------------------
                |  F11  |   F1   |      F2      |     F3     |     F4     |   F5   |                    |      F6      |   F7     |    F8     |    F9    |   F10   |      |
                |  F12  |        |    LS+TAB    |            |            |        |                    |     P_UP     |   HOME   |    ^      |    END   |         |      |
                |       |        |   LS+LC+TAB  |    TAB     |   LC+TAB   |        |                    |    P_DOWN    |    <-    |    v      |    ->    |         |      |
                |       |        |              |            |            |        |        |  |        |              |          |           |          |         |      |
                                                             |            |   L4   |        |  |        |              |          |           |    DEL   |
            */

            display-name = "Raise";
            bindings = <
                &kp F11  &kp F1  &kp F2           &kp F3       &kp F4       &kp F5                     &kp F6         &kp F7     &kp F8      &kp F9     &kp F10   &trans
                &kp F12  &trans  &trans           &kp LS(TAB)  &trans       &trans                     &kp PAGE_UP    &kp HOME   &kp UP      &kp END    &trans    &trans
                &trans   &trans  &kp LC(LS(TAB))  &kp TAB      &kp LC(TAB)  &trans                     &kp PAGE_DOWN  &kp LEFT   &kp DOWN    &kp RIGHT  &trans    &trans
                &trans   &trans  &trans           &trans       &trans       &trans   &trans    &trans  &trans         &trans     &trans      &trans     &trans    &trans
                                                  &trans       &trans       &mo 4    &trans    &trans  &trans         &trans     &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        unicode_layer {
            /*
            -------------------------------------------------------------------------------------------------------------------------
            |         |        |       |        |    ®   |   ™   |                 |       |       |       |       |      |  EM DASH|
            |         |        |       |        |        |       |                 |M_SC_UP|M_SC_LT| M_UP  |M_SC_RT|      |         |
            |         |        |   °   |        |        |       |                 |M_SC_DN| M_LT  | M_DN  | M_RT  |      |         |
            |         |        |       |        |        |       |       | |       |       | M_LC  | M_MC  | M_RC  |   ¿  |         |
                                       |        |        |       |       | |       |       |       |       |       |
            */

            display-name = "Unicode";
            bindings = <
                &trans  &trans  &trans  &trans    &trans  &trans                     &trans          &trans          &trans          &trans           &trans  &em_dash
                &trans  &trans  &trans  &trans    &regtm  &tm                        &msc SCRL_UP    &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &trans  &trans
                &trans  &trans  &trans  &degree   &trans  &trans                     &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &trans
                &trans  &trans  &trans  &cpright  &trans  &trans   &trans    &trans  &trans          &mkp LCLK       &mkp MCLK       &mkp RCLK        &inv_q  &trans
                                        &trans    &trans  &trans   &trans    &trans  &trans          &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        double_layer {

            /*
                ------------------------------------------------------------------------------------------------------------------------------------------------
                |     |      BT1     |     BT2    |     BT3     |      BT4     |     BT5    |                   |       |       |       |       |       |      |
                |     |              |            |             |              |            |                   |       |       |       |       |       |      |
                |     |              |            |             |              |            |                   |       |       |       |       |       |      |
                |     |              |            |             |              |            |  BTCLR  |  |      |       |       |       |       |       |      |
                                                  |             |              |            |         |  |      |       |       |       |
          */

            display-name = "Double";
            bindings = <
                &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                      &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans        &trans        &trans        &trans        &trans                            &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans        &trans        &trans        &trans        &trans                            &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans        &trans        &trans        &trans        &trans        &bt BT_CLR  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                                    &trans        &trans        &trans        &trans      &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
